<!doctype html>
<html lang="CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>サモトラキ島の勝利の女神像</title>
    <link rel="stylesheet" media="screen and (min-width:1200px)"  href="style/main.css">
    <link rel="stylesheet" media="screen and (max-width:1025px)" href="style/mobile-works-detail.css" type="text/css" />
    <link rel="stylesheet" href="style/normalize.css">
</head>
<body class="clearfix">
<div class="pc">
    <audio id="music" src="../audio/jp_nike.mp3" loop autoplay></audio>
    <!-- <iframe class="second-main" marginwidth="0" src="">
    </iframe> -->
    <div class="sketchfab-embed-wrapper second-main" style="position: relative;" marginwidth="0">
        <model-viewer disable-zoom camera-controls alt="Model" src="./model/nike.glb" style="width: 100%; height: 100%; background: black;">
        </model-viewer>
        <!-- <iframe title="成化鬥彩瓷雞缸杯" frameborder="0" allowfullscreen style="width: 100%; height: 100%;"
            mozallowfullscreen="true" webkitallowfullscreen="true"
            allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking
            execution-while-out-of-viewport execution-while-not-rendered web-share
            src="https://sketchfab.com/models/772b103b6fda4a048cbf12265d5bd3da/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0">
        </iframe> -->
    </div>
    <aside class="second-aside new-bg">
    <p class="font26">サモトラキ島の勝利の女神像</p>
    <p class="font14">
        こちらの作品はエーゲ海北部に位置するサモトラキ島の勝利の女神像を模造したものです。勝利の女神ニーケーはオリンピアの神々に味方し、十年続いた戦争に勝利したことから、幸運をもたらす神とみなされており、芸術作品の主題とされることも多く、ヨーロッパ各地に勝利の女神像が設置されています。また、方舟が創業した際、ARK720の3Dスキャン技術の発展と、成功がもたらされるようにとの願いを込めて、ギリシャでこの作品の複製品を購入しました。
        この彫塑のオリジナルは、おそらくどこかの戦役での勝利を記念して制作され、その地の神殿に祀られたのでしょう。しかし、建物が荒れ果て倒壊した後は、勝利の女神像も地中に埋もれてしまい、1863年になってようやく発掘されたのです。女神像の頭部と両腕は失われており、完全な形ではありませんが、片足を一歩前に出し、ドレスのひだをなびかせた姿からは、風を受けて翼を広げる女神の躍動感が伝わってきます。今正に勝利を告げる角笛（つのぶえ）を吹き鳴らしているかのようで、芸術史の専門家が「ギリシャの彫塑の中で最も偉大な傑作」と形容したのにも頷けます。
    </p>

    <div class="box address">
        文物朝代 ： 清朝
    </div>
    <div class="box age">
        公元紀年 ： 1736-1795
    </div>
    <div class="box born">
        出土地址：未知
    </div>
    <div class="last-one clearfix">
        <div class="height">年號 ： 乾隆</div>
        <div class="weight">技法 ： 刻款</div>
    </div>
</aside>
    <a href="index.html" class="homeIcon"></a>
</div>

<div class="mobile" id="app">
    <iframe class="mobile-iframe" marginwidth="0" src="https://sketchfab.com/models/374c085f138b47159bac9781d55dcae7/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0">
    </iframe>
    <div class="main-title">
        サモトラキ島の勝利の女神像
        <div class="main-top">
            【
        </div>
        <div class="main-bottom">
            】
        </div>
    </div>
    <div class="detail-btn-wrapper main-detail">
        <div class="detail-btn main-btn" @click="ifShow"></div>
    </div>
    <a href="index.html" class="mobileIcon"></a>

    <!--遮盖层-->
    <div class="layout" v-if="show">
    </div>

    <div class="text-detail-wrapper" v-if="show">
        <p class="titie">サモトラキ島の勝利の女神像</p>
        <div class="subtitle">【 Tara Like 】</div>
        <div class="text-content">
            こちらの作品はエーゲ海北部に位置するサモトラキ島の勝利の女神像を模造したものです。勝利の女神ニーケーはオリンピアの神々に味方し、十年続いた戦争に勝利したことから、幸運をもたらす神とみなされており、芸術作品の主題とされることも多く、ヨーロッパ各地に勝利の女神像が設置されています。また、方舟が創業した際、ARK720の3Dスキャン技術の発展と、成功がもたらされるようにとの願いを込めて、ギリシャでこの作品の複製品を購入しました。
            この彫塑のオリジナルは、おそらくどこかの戦役での勝利を記念して制作され、その地の神殿に祀られたのでしょう。しかし、建物が荒れ果て倒壊した後は、勝利の女神像も地中に埋もれてしまい、1863年になってようやく発掘されたのです。女神像の頭部と両腕は失われており、完全な形ではありませんが、片足を一歩前に出し、ドレスのひだをなびかせた姿からは、風を受けて翼を広げる女神の躍動感が伝わってきます。今正に勝利を告げる角笛（つのぶえ）を吹き鳴らしているかのようで、芸術史の専門家が「ギリシャの彫塑の中で最も偉大な傑作」と形容したのにも頷けます。
        </div>
        <div class="detail-address detail-box ">
            文物朝代 ： 清朝
        </div>
        <div class="detail-age detail-box mt10">
            公元紀年 ： 1736-1795
        </div>
        <div class="detail-born detail-box mt10">
            出土地址：未知
        </div>
        <div class="last-one mt10">
            <div class="last-one-left">
                年號 ： 乾隆
            </div>
            <div class="last-one-right">
                技法 ： 刻款
            </div>
        </div>
        <div class="detail-btn-wrapper text-detail" @click="ifHide">
            <div class="detail-btn text-btn"></div>
        </div>
    </div>
</div>
<script src="js/vue.js"></script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            show:false
        },
        methods:{
            ifShow(){
                this.show = true;
            },
            ifHide(){
                this.show = false;
            }
        }
    });
        var iframe = document.getElementsByTagName("iframe");
        function isMobile() {
            let flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)
            return flag;
        };
        // if(isMobile()) {
        //     iframe[1].src="https://sketchfab.com/models/374c085f138b47159bac9781d55dcae7/embed?autospin=0&autostart=1&camera=0&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_help=0&ui_settings=0&ui_fullscreen=1&ui_annotations=0";
        // }else{
        //     // iframe[0].src="model/index.html?19/1605768076840";
        // }

</script>

</body>
</html>